/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/***** General Styles *****/

html{
  font-size: 16px;
  height: 100%;
}

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  height: 100%;
}

ul, ol{
  list-style-type: none;
}

a{
  color: #e2e3ed;
  text-decoration: none;
}

h1{
  font-size: 3em;
  color: white;
}

h2{
  font-family: 'Poppins', sans-serif;
  font-size: 2em;
  color: white;

}

h3, h4{
  font-family: 'Poppins', sans-serif;
  font-size: 1.5em;
  color: white;

}

p{

}

img{

}

figure{

}

address{
  font-style: normal;
  line-height: .25em;
}

.content-wrapper{
  width: 90%;
  padding: 50px 0;
}


/***** Base Header/Footer Styles *****/
header, footer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

/***** Header Styles *****/

header{
  background-color: rgb(32,35,34);
}

header .content-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 60%;
  padding: 15px 60px;
}

header img{
  width: 100%;
}

figure{
  margin: 0;
}

header figure{
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.header-divider{
  width: 100%;
  border: 1px solid grey;
  margin-top: .5em;
}

header nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

header nav ul{
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0;
}

header a{
  text-decoration: none;
  margin: 0 20px;
}

/***** Footer Styles *****/

footer{
  flex-direction: column;
  background-color: rgb(32,35,34);
}

footer .content-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

footer .contact{
  text-align: center;
  color: white;
  width: 100%;
}

footer .social{
  text-align: center;
  width: 100%;
}

footer .social-icons{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social h3{
  margin-bottom: 0;
}

.social-icons i{
  font-size: 2em;
  margin-top: 0;
}

footer a{
  margin: 0 10px;
}

.copyright{
  color: white;
}

/***** Homepage Styles *****/

.hero-area{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: url(../img/splash.jpg) center no-repeat;
  background-size: cover;
  flex-flow: row wrap;
  min-height: 31.25em;
}

.hero-area h1{
  font-weight: 400;
  font-size: 2.25em;
}

aside{
  background-color: rgb(82,113,88);
}

aside .content-wrapper{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
  padding: 10px 0px 10px 30px;
}

aside h2, h3{
  font-weight: 500;
}

aside p{
  color: white;
}

aside .form{
  width: 100%;
  padding-right: 50px;
}

aside input{
  margin: 10px 0;
}

input{
  display: block;
}

input[type=text] {
  box-sizing: border-box;
  width: 100%;
  color: #2a423a;
  font-style: italic;
  padding: 1em;
}
 
input[type=button] {
  width: 100%;
  padding: 20px 0;
  margin-top: 20px;
  background-color: #2a423a;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.125em;
  color: #e2e3ed;
  border: none;
  text-align: center;
  text-transform: uppercase;
}

.features{
  background: url(../img/camp.jpg) center no-repeat;
  background-size: cover;
}

.features p{
  margin: 0;
  color: white;
}

.features .features-items{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row wrap;
  padding-left: 40px;
}

.features article{
  width: 100%;
  margin: 30px 0;
  text-align: center;
}

.features i{
  font-size: 3.75em;
  margin-bottom: 40px;
}

.reviews{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  background-color: rgb(42,66,58);
}

.reviews figure{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.reviews img{
  width: 100%;
}

.reviews p{
  color: white;
}


/***** About Styles *****/

.mission{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding: 0 20px;
  background-color: rgb(82,113,88);
}

.mission p{
  color: white;
}

.map figure{
  width: 100%;
  height: 0;
  padding-bottom: 125%;
  overflow: hidden;
  position: relative;
}

.map iframe{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.contact-section{
  background-color: rgb(42,66,58);
}

.contact-section .content-wrapper{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
  margin: 0px 0px 0px 30px;
}

.contact-section h1{
  margin: 0 0;
  font-weight: 700;
  font-size: 3em;
}

.contact-section h2{
  font-weight: 400;
}

.contact-section address{
  color: white;
}

/***** FAQ Styles *****/

.faq{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding: 0 20px;
  background-color: rgb(82,113,88);
}

.faq .content-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.faq p{
  color: white;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

/***** Tablet Styles *****/
@media only screen and (min-width: 768px) {
  header .content-wrapper{
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
  }

  .header-divider{
    display: none;
  }

  header nav ul{
    justify-content: flex-end;
  }

  aside .content-wrapper{
    flex-flow: row nowrap;
    align-items: flex-start;
  }

  aside .form-description{
    width: 50%;
    padding-right: 100px;
  }

  aside .form{
    width: 50%;
  }

  .features .features-items{
    flex-flow: row wrap;
    padding-left: 40px;
  }

  .features article{
    width: 45%;
    padding-right: 20px;
  }

  .reviews .lacrue-review{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
  }

  .reviews img{
    width: 100%;
  }

  .reviews article{
    margin-left: 50px;
  }

  .faq-content{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row wrap;
  }

  .faq-content article{
    width: 45%;
    padding-right: 30px;
  }

  .mission-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
  }

  .mission-content p{
    width: 50%;
    margin-right: 80px;
  }

  .map figure{
    padding-bottom: 55%;
  }

  .contact-section .content-wrapper{
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    margin-left: 60px;
  }

  .contact-section h1{
    width: 100%;
  }

  .contact-section-col-1{
    width: 50%;
  }

  .contact-section-col-2{
    width: 50%;
  }

  footer{
    min-height: 430px;
  }

  .footer-content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row nowrap;
  }

  .footer-content .contact{
    width: 100%;
    margin-right: 80px;
  }

  .footer-content .social{
    width: 50%;
  }
}

/***** Desktop Styles *****/
@media only screen and (min-width: 1200px){
  header .content-wrapper{
    width: 100%;
  }

  aside .form-description{
    margin-left: 50px;
  }

  .features article{
    width: 30%;
    padding: 0 15px;
  }
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

